@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', 'serif';
}
header {
    background-color: #162028;
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin: auto;
    align-items: center;
    height: 100px;
}
.logo_img h3 {
    font-size: 40px;
}
.menu ul,li {
    display: flex;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu li a {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 30px;
    text-decoration: none;
    color: #737d84;
}
.menu li a:hover,
.menu .active a {
    border-bottom: 4px solid #b28756;
    color: #fff;
}

.banner {
    background-image: url('../imagens/topo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1050px;
}
.moda1 {
    height: 700px;
}
.title1 {
    margin-top: 80px;
    text-align: center;
    font-size: 20px;
}
.text-long1 {
    
}
.text-long1 p {
    width: 900px;
    margin-top: 30px;
}
.banners-sub {
    display: flex;
    justify-content: center;
}
.banners-moda1 {
    margin-top: 40px;
}
.banners-sub img {
    padding: 15px;
}
.moda2 {
    height: 700px;
}
.title {
    padding-top: 70px;
    font-size: 20px;
    text-align: left;
    font-size: 30px;
    margin-left: 100px;
}
 
.container {
    background-color: #162028;
    margin: auto;
    height: 700px;
    text-align: center;
    color: #fff;
    max-width: 890px;
    margin-top: 60px;
}
p {
    padding-top: 50px;
    padding-right: 30px;
    padding-right: 30px;
    font-size: 25px;
    width: 700px;
    margin: auto;
}
span {
    text-align: left;
}
.text-long {
    text-align: left;
}
.faixa {
    background-color: #0b171f;
    height: 60px;
    margin-top: 150px;
    padding-top: 16px;
}

.moda3 {
    height: 100px;
}
